body {
  background-color: #cea7e9ad;
  color: #000000;
  font-family: Cambria;
  line-height: 1.6;
  margin: 20px;
  padding: 10px;
  font-size: 1.5em;
  text-align: center;
}

.row {
  display: flex;
  gap: 20px;
}

.column {
  flex: 1;
  padding: 15px;
  border: 4.5px outset #7720da;

}

header {
  color: #000000;
  font-size: 2.5em;
  margin-bottom: 10px;
  border-top: #7720da 6px solid; 
  border-bottom: #7720da 6px solid; 
}

h1 {
  color: #000000;
  font-size: 1.8em;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

p {
  color: #000000;;
  line-height: 1.6;
  margin-bottom: 15px;
  text-align:left;
}

ul {
  text-align: left;
  color: #000000;
  line-height: 1.6;
  margin-bottom: 15px;
}

img {
  border-radius: 45px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border:#7720da 10px double;
}
